<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title>Lab 3</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>


<h1>Student Form</h1>
<form action="#" th:action="@{/form}" th:object="${student}" method="post">
    <p>First Name: <input type="text" th:field="*{name}" /></p>
    <p>Last Name: <input type="text" th:field="*{surname}" /></p>
    <p>Group: <input type="text" th:field="*{groupId}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>


</body>
</html>